@{
    ViewData["Title"] = "Hello World";
}

<div class="text-center">
    <h1 class="display-4">Please navigate to /hello to display Hello World</h1>
    <p>Or Click <a asp-area="" asp-controller="hello" asp-action="">here</a> to navigate to /hello .</p>
</div>
